[submodule "upstream"]
	path = upstream
	url = https://github.com/ArduPilot/WebTools.git
[submodule "vendor/arduconfigurator"]
	path = vendor/arduconfigurator
	url = https://github.com/j-w9/arduconfigurator.git
	shallow = true
